{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main %}

<table>
    <thead>
        <tr>
            <td>Symbol</td>
            <td>Name</td>
            <td>Shares</td>
            <td>Price</td>
            <td>TOTAL</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{cash}}</td>
        </tr>
        <tr>
            <td>buy</td>
            <td>something</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>




{% endblock %}
